$red:           "#FE2712";
$red-orange:    "#FC600A";
$orange:        "#FB9902";
$yellow-orange: "#FCCC1A";
$yellow:        "#FEFE33";
$yellow-green:  "#B2D732";
$green:         "#66B032";
$blue-green:    "#347C98";
$blue:          "#0247FE";
$blue-purple:   "#4424D6";
$purple:        "#8601AF";
$red-purple:    "#C21460";
