*{
    margin:0;
    padding:0;
    content-size:border-box;
}

body{
    background-color: #2d8659 ;

}

.card{
    width: 50%;
    background-color: #f2f2f2 ;


    margin:1rem;
    padding:0.5rem;

    border:groove 1rem #cc0052 ;
    border-radius:0.5rem;
}

.card > img{
    width: 64px;
    height: 64px;
    margin-right:1rem;
}
.card > div{
    margin-left:1rem;
}
