html {
    background: #ADD9F4 url("images/iceberg.jpg") no-repeat center center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica;
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-color: rgba(12, 60, 90, 0.75);
    color: white;
    overflow-x: auto;
    overflow-y: hidden;

    /* Center Content */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    html, body{
        width: fit-content;
    }
}

@media screen and (max-width: 800px) {
    html{
        background: #ADD9F4 url("images/portrait-iceberg.jpg") no-repeat center center;
    }
    body > div{
        zoom: 150%;
    }
}


body > div{
    width: fit-content;
    padding: 1rem;
}

h1{
    width: fit-parent;
    text-align: center;
    font-weight: 800;
}

button, input, #table > div, #table > div > *, td{
    border: 0.1rem solid #101419!important;
    margin: 0;
    padding: 0;
    color: #101419;
    background-color: #E9F5FC!important;
}

td{
    padding: 0.5rem!important;
}

button, input{
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #E9F5FC;
}

button{
    font-size: 1.5rem;
    width: 10.0rem;
    padding: 0.5rem;
    color: #FFFFFF;
    text-align: center;
    background-color: #476C9B!important;
}

label{
    width: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    padding-right: 0.5rem;
}