<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=iso-8859-1"/>
        <!-- <meta charset="iso-8859-1"/> -->
        <meta name="application-name" content="Trabajo Creativo La Celestina"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content = "Marcos R. Pesante Colón"/>
        <meta name="keywords" content="ESPA 1201, La Celestina, Tragicomedia de Calisto y Melibea, Marcos R. Pesante Colón"/>
        <meta name="description" content="Esta página fue creada como proyecto creativo para el curso de ESPA 1201 de la Escuela Secundaria de la Universidad de Puerto Rico. Su tema principal es la obra de La Tragicomedia de Calisto y Melibea, o La Celestina, escrita por Fernando de Rojas"/> 

        <base href="./">

        <title>La Celestina</title>

        <!-- style and link -->

    </head>

    <body>

    </body>
</html>
